# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app,.amazonaws.com

# Database (Default is SQLite, add DB_URL if using Postgres)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Redis / Channel Layers
REDIS_URL=redis://127.0.0.1:6379/1

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your-email@gmail.com

# AWS S3 Settings (Production)
USE_S3=False
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=us-east-1
